
/* ESTILOS DE LA PAGINA WEB */


table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 80px;
    margin-top: 30px;

}
th {
    background-color: #ffffff;
    color: #0a0a0a;
    border: 1px solid black;
    text-align: center;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
tr:nth-child(even) {background-color: #ffffff
}

#menu{

    color: white;
}


